<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<br>
		<form action="/admin/add_game/">
			<input type="submit" value="Add a game" />
		</form>
		<br>
		<form action="/admin/edit_game/">
			<input type="submit" value="Edit a game" />
		</form>
		<br>
		<form action="/admin/remove_game/">
			<input type="submit" value="Remove a game" />
		</form>
		<br>
	</div>
</body>
</html>