<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div layout:fragment="content">			
        <form action="#" th:action="@{doRemoveProduct}" th:object="${productModel}" method="post">
            <div style="align-items: center;">
                <div style="margin-left: 40%; margin-right: 40%; margin-top: 30px;">
                    <label class="form-label">Game ID</label>
                    <input type="text" th:field="*{id}">
                    <h5 style="color:red;" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Game Title Error</h5>
                    <div class="invalid-feedback">
                    <p>Enter the ID of the game you want to remove</p>
                    </div>
                </div>
                <input type="submit" value="Submit">					
            </div>
        </form>	
        <br>
        <br>
        <table style="width:50%">
			<form><button formaction="/admin/">Back to Admin Menu</button></form>
			<thead>
				<tr>
					<th style="text-align:center">Game ID</th>
					<th style="text-align:center">Game Title</th>
					<th style="text-align:center">Game Price</th>					
				</tr>
			</thead>
			<tbody>
    				<tr th:if="${games.empty}">
    					<td style="text-align:center" colspan="4"> No Orders Available</td>
    				</tr>
    				<tr th:each="game : ${games}">
						<td style="text-align:center"><h5 th:text="${game.id}"></h5></td>
    					<td style="text-align:center"><h5 th:text="${game.productName}"></h5></td>
    					<td style="text-align:center"><h5 th:text="${game.price}"></h5></td>
    					
    				</tr>
			</tbody>
		</table>
        <br>
        <br>
	</div>
</body>
</html>